<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PuskeSmart</title>
  <!-- My CSS -->
  <link rel="stylesheet" href="../css/myCSS/index.css">

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- My font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@400;500;600&family=Julius+Sans+One&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

</head>

<body id="" style="font-family: 'Poppins', serif; padding-top: 100px">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #68A3F3;">
    <div class="container-lg p-3">
      <!-- Logo -->
      <div>
        <img src="../img/asset/logo.png" alt="Logo" class="" style="width: auto; height: 40px;">
      </div>

      <!-- Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
        style="border: 1px solid aliceblue;">
        <span class="" style="color: aliceblue;"><i class="fa-solid fa-bars"></i></span>
      </button>

      <!-- Navbar links centered with mx-auto -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-tengah linknya" href="index.html" style="font-size: 20px;">Beranda</a>
          <a class="nav-tengah linknya" href="login.html" style="font-size: 20px;">Pendaftaran</a>
          <a class="nav-tengah linknya" href="login.html" style="font-size: 20px;">Informasi</a>
          <a class="nav-tengah linknya" href="login.html" style="font-size: 20px;">Ulasan</a>
        </div>

        <!-- Masuk button aligned to the right -->
        <a class="tombol nav-link btn btn-success font-weight-bold shadow" href="login.html"
          style="color: aliceblue; font-size: 1.2rem;">Masuk</a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Section 1 -->
  <div class="csc1 container-lg mt-5">
    <div class="row align-items-center mb-5">
      <div class="col-md-8">
        <h1 class="mainTitle font-weight-bold " style="font-size: 35px; color: black;">Selamat Datang di <br> PuskeSmart
        </h1>
        <h2 class="subTitle " style="font-size: 20px; font-weight: 400; color: black">
          Temukan informasi layanan, jadwal dokter, dan kemudahan pendaftaran berobat dalamsatu genggaman.
        </h2>
        <button class="btnSection1 btn mt-3 rounded-pill p-3 text-white" 
          data-toggle="modal" data-target="#modalSatu">
          Cari Tahu Lebih Lanjut
        </button>
      </div>
      <div class="col-md-4 d-none d-md-block img-fluid text-right mt-4 mt-md-0" style="width: 300px;">
        <img src="../img/asset/ilustrasi 1.png" alt="Ilustrasi" class="" style="max-width: 250px;" id="ilust1">
      </div>
    </div>
  </div>
  <!-- End Section 1 -->

  <!-- Section 2 -->
  <div class="py-5" style="background-color: #97C0F7;">
    <div class="container-lg">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <img src="../img/asset/ilustrasi 2.png" alt="Ilustrasi" class="ilust2 img-fluid d-none d-md-block"
            style="max-width: 250px;">
        </div>
        <div class="col-md-6">
          <div class="ml-md-5">
            <h1 class="font-weight-bold text-center text-md-left mb-2" style="color: black">Tentang Kami</h1>
            <p class="mt-4" style="color: black; font-size: 20px; font-weight: 400;">
              Puskesmas Kebun Handil berkomitmen untuk menyediakan layanan kesehatan berkualitas bagi masyarakat.
              Dengan tenaga medis yang berpengalaman dan fasilitas yang lengkap, kami siap melayani anda dan keluarga
              dengan sepenuh hati.
            </p>
            <ul class="" style="color: black; font-size: 20px; font-weight: 400;">
              <li class="mb-2">Layanan Terpercaya</li>
              <li class="mb-2">Dokter dan Tenaga Medis Berpengalaman</li>
              <li class="mb-2">Fasilitas Lengkap dan Modern</li>
            </ul>
            <button class="btnSection2 btn mt-3 rounded-pill p-3 text-white"
              data-toggle="modal" data-target="#modalDua">
              Baca Selengkapnya
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section 2 -->

  <!-- Section 3 -->
  <div style="background-color: #9AEFC9; padding: 80px;">
    <div class="teks-tengah">
      <h1 class="judul">Layanan Favorit</h1>
    </div>
    <div class="wadah">
      <div class="pembungkus-kartu">
        <div class="kartu">
          <img src="../img/asset/card1.png" alt="poli umum" class="gambar-kartu">
          <div class="isi-kartu">
            <h1 class="judul-kartu">Poli Umum</h1>
            <p class="teks-kartu">Konsultasi kesehatan umum dan pemeriksaan dasar</p>
          </div>
        </div>
        <div class="kartu">
          <img src="../img/asset/card3.png" alt="poli gigi" class="gambar-kartu">
          <div class="isi-kartu">
            <h1 class="judul-kartu">Poli Gigi</h1>
            <p class="teks-kartu">Perawatan kesehatan gigi dan mulut untuk semua usia</p>
          </div>
        </div>
        <div class="kartu">
          <img src="../img/asset/card2.png" alt="poli anak" class="gambar-kartu">
          <div class="isi-kartu">
            <h1 class="judul-kartu">Poli Bidan</h1>
            <p class="teks-kartu">Layanan untuk ibu hamil dan persiapan persalinan</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section 3 -->

  <!-- Section 4 -->
  <section class="testimonials py-5" style="background-color: #F5F5F5;" id="testimonials">
    <div class="container-lg py-4">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2 class="font-weight-bold mb-5" style="color: black;">Testimoni</h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
          <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel1" data-slide-to="0" class="active bg-success"></li>
              <li class="bg-success" data-target="#carousel1" data-slide-to="1"></li>
              <li class="bg-success" data-target="#carousel1" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner p-1">
              <!-- testi item start 1 -->
              <div class="testi-item carousel-item active shadow-sm rounded p-5 mb-5"
                style="background-color: #C6DCFA;">
                <div class="testi-author-info d-flex align-items-center">
                  <img src="../img/asset/testimonial/1.jpg" class="img-thumbnail rounded-circle" alt="author image"
                    style="width: auto; height: 100px;">
                  <div class="author ml-3">
                    <h3 class="mb-1" style="color: black; font-weight: 600; font-size: 20px;">Raj Himchal</h3>
                    <p class="text-muted m-0">06 November 2024</p>
                  </div>
                </div>

                <p class="mt-3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                </div>
              </div>
              <!-- Testi Item end-->

              <!-- testi item start 2-->
              <div class="testi-item carousel-item shadow-sm rounded p-5 mb-5" style="background-color: #C6DCFA;">
                <div class="testi-author-info d-flex align-items-center">
                  <img src="../img/asset/testimonial/2.jpg" class="img-thumbnail rounded-circle" alt="author image"
                    style="width: auto; height: 100px;">
                  <div class="author ml-3">
                    <h3 class="mb-1" style="color: black; font-weight: 600; font-size: 20px;">Raj Himchal</h3>
                    <p class="text-muted m-0">06 November 2024</p>
                  </div>
                </div>

                <p class="mt-3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="rating text-warning">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <!-- Testi Item end-->

              <!-- testi item start 3-->
              <div class="testi-item carousel-item shadow-sm rounded p-5 mb-5" style="background-color: #C6DCFA;">
                <div class="testi-author-info d-flex align-items-center">
                  <img src="../img/asset/testimonial/3.jpg" class="img-thumbnail rounded-circle" alt="author image"
                    style="width: auto; height: 100px;">
                  <div class="author ml-3">
                    <h3 class="mb-1" style="color: black; font-weight: 600; font-size: 20px;">Raj Himchal</h3>
                    <p class="text-muted m-0">06 November 2024</p>
                  </div>
                </div>

                <p class="mt-3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="rating text-warning">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <!-- Testi Item end-->
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Section 4 -->

  <!-- Section 5 -->
  <footer class="footer pt-10 pb-5 mt-auto footer-light" style="background-color: #68A3F3;">
    <div class="container-lg">
      <div class="row gx-5 py-5">
        <div class="col-lg-6">
          <div class="footer-brand mb-2"><img src="../img/asset/logoVer.png" alt="" style="width: auto; height: 40px;">
          </div>
          <!-- Almat -->
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-location-dot" style="font-size: 15px; color: white;"></i>
            <p class="ml-3 my-2" style="font-size: 12px; color: white; margin-left: 10px;">
              Jl. Yunus Sanis No.9, Handil Jaya, <br>Kec. Jelutung, Kota Jambi, Jambi, 36125
            </p>
          </div>
          <!-- no telp -->
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone-volume" style="font-size: 15px; color: white;"></i>
            <p class="ml-3 my-2" style="font-size: 12px; color: white; margin-left: 10px;">
              (021) 123-4567
            </p>
          </div>
          <!-- Email -->
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope" style="font-size: 15px; color: white;"></i>
            <p class="ml-3 my-2" style="font-size: 12px; color: white; margin-left: 10px;">
              info@puskesmaskebunhandil.co.id
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row gx-2">
            <div class="col-md-4 mb-5 mb-lg-0">
              <div class="text-uppercase-expanded text-lg mb-4" style="color: white; font-weight: bold;">Layanan</div>
              <ul class="list-unstyled text-light" style="font-weight: 600;">
                <li class="" style="margin-bottom: -10px;">
                  <p>Poli Umum
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Poli Anak
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Poli Gigi
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Poli Bidan
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Laboratorium
                </li>

              </ul>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="text-uppercase-expanded text-lg mb-4" style="color: white; font-weight: bold;">Dukungan</div>
              <ul class="list-unstyled text-light" style="font-weight: 600;">
                <li class="" style="margin-bottom: -10px;">
                  <p>Pusat Bantuan
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>FAQ
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Kontak Kami
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="text-uppercase-expanded text-lg mb-4" style="color: white; font-weight: bold;">Tentang Kami
              </div>
              <ul class="list-unstyled text-light" style="font-weight: 600;">
                <li class="" style="margin-bottom: -10px;">
                  <p>Visi Misi
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Tim Kami
                </li>
                <li class="" style="margin-bottom: -10px;">
                  <p>Bantuan & Artikel
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-5" style="background-color: white;">
      <div class="row gx-5 align-items-center">
        <div class="col-md-6 small" style="color: white;">Copyright © PuskeSmart, 2024 - Hak Cipta Dilindungi.</div>
        <div class="col-md-6 text-right small">
          <a href="#!" style="color: white; text-decoration: none;">Privacy Policy</a> · <a href="#!"
            style="color: white; text-decoration: none;">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Section 5 -->

  <!-- Modal -->
  <!-- Modal 1 -->
  <div class="modal fade" id="modalSatu" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" style="color: black; font-weight: 800;">Panduan Layanan Kami
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: black;">
          <p>Temukan kemudahan menggunakan aplikasi kami untuk mengakses layanan kesehatan.</p>
          <ul>
            <li>Daftar dengan mudah dan cepat</li>
            <li>Dokter dan tenaga medis berpengalaman</li>
            <li>Semua informasi layanan kesehatan dalam satu genggaman</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"
            style="color: white; font-weight: 600;">Tutup</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal fade" id="modalDua" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" style="color: black; font-weight: 800;">Tentang PuskeSmart
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: black;">
          <p>Puskesmas Kebun Handil berkomitmen untuk memberikan pelayanan kesehatan berkualitas bagi masyarakat dengan
            tenaga medis yang profesional. Informasi layanan lengkap, tenaga medis berpengalaman, dan fasilitas
            modern.<br> <br></p>
          <p>Hubungi Kami :</p>
          <ul class="list-unstyled">
            <li>Alamat: Jl. Yunus Sanis No.9, Handil Jaya, Kec. Jelutung, Kota Jambi, Jambi, 36125 <br></li>
            <li>Telepon: (021) 123-4567 <br></li>
            <li>Email: info@puskesmaskebunhandil.co.id<br></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"
            style="color: white; font-weight: 600;">Tutup</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- My JS -->
  <script src="../js/myJS/index.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3659f450a4.js" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>

</body>

</html>